.image-div-right {
  background-image: url("../../../../../src/assets/image/login-image.svg");
  background-repeat: no-repeat;
  background-size: cover
}

.left-bar {
  width: 15px;
  background: #483CDC;
  height: 100%;
}

.text-color-grey {
  color: #818181;
}

.app-title {
  width: 121px;
  height: 30px;
  font-family: Circular, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #483CDC;
}

.app-description {
  font-weight: bold;
  font-size: 48px;
  line-height: 61px;
  color: #000000;
}

.text-color {
  color: #483CDC;
}

.login-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;

  color: #1A1A1A;
}

.email-input {
  width: 350px;
  height: 80px;
  background: #F7F7F7;
  border-radius: 7px;
  color: #8C8C8C;
}

.login-button {
  width: 353px;
  height: 48px;
  background-color: #483CDC !important;
  border-radius: 25px;
  color: white;
}

.forget-password {
  color: #D0D0D0;
  margin-top: 20px;
}

.footer-text-color {
  color: #636363
}
