<ion-header class="ion-padding" style="background-color: #483CDC; color:white;">
    <h3 class="mb-4">My Profile</h3>
</ion-header>
<ion-content>

    <div class="p-4">
        <div style="height: 30px" class=" mb-4">
            <ion-icon name="chatbox-ellipses-outline" class="mr-3"></ion-icon>
            <span class="mr-5">My Account </span> <span style="position: relative;left: 130px;">></span>
        </div>
        <div style="height: 30px" class=" mb-4">
            <ion-icon name="chatbox-ellipses-outline" class="mr-3"></ion-icon>
            <span class="mr-5">Languages </span> <span style="position: relative;left: 140px;">></span>
        </div>
        <div style="height: 30px" class=" mb-4">
            <ion-icon name="chatbox-ellipses-outline" class="mr-3"></ion-icon>
            <span class="mr-5">Terms & conditions </span> <span style="position: relative;left: 90px;">></span>
        </div>
        <div style="height: 30px" class=" mb-4">
            <ion-icon name="chatbox-ellipses-outline" class="mr-3"></ion-icon>
            <span> FAQ </span> <span style="position: relative;left: 230px;">></span>
        </div>
        <div style="height: 30px" class=" mb-4" (click)="logout()">
            <ion-icon name="chatbox-ellipses-outline" class="mr-3"></ion-icon>
            <span class="mr-5"> Logout </span>
        </div>
    </div>

</ion-content>
