ion-header {
  ion-title {
    color: var(--blue);
    text-align: center;
    font-size: 18px;
    font-family: "sf_ui_sb";
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
  }
}

ion-content {
  .info_lbl {
    font-size: 12px;
    font-family: "sf_ui_md";
    color: var(--lht_blue);
  }
  .today_div {
    padding: 0px 16px;

    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-avatar {
        height: 55px;
        width: 55px;
        img {
          border: solid 3px var(--white);
          box-shadow: 0px 0px 3px 0px rgba(31, 140, 237, 0.3);
        }
      }
      .name {
        font-size: 15px;
        font-family: "sf_ui_md";
        color: var(--blue);
        span {
          font-size: 11px;
          font-family: "sf_ui_r";
          color: var(--blue);
        }
      }
      .detail {
        font-size: 13px;
        font-family: "sf_ui_md";
        color: var(--lht_blue);
      }
    }
  }
}
