<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home" icon="chevron-back-outline" text="" mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <h3 class="main_lbl">Create an Account</h3>
    <form [formGroup]="signinForm">
        <div class="ion-text-center alert-warning mb-1">{{error ||
        usernameControl?.errors?.userExists ? 'Username already exists' : ''
            }}</div>
        <ion-input autofocus class="genral_input" formControlName="username" placeholder="Username*"
                   type="text"></ion-input>
        <ion-input class="genral_input" formControlName="password" placeholder="Password*" type="password"></ion-input>
        <ion-input class="genral_input" formControlName="firstname" placeholder="Firstname" type="text"></ion-input>
        <ion-input class="genral_input" formControlName="lastname" placeholder="Lastname" type="email"></ion-input>
        <app-date-picker class="genral_input" formControlName="dateOfBirth" placeholder="Birthday"></app-date-picker>
        <ion-input class="genral_input" formControlName="gender" placeholder="Gender" type="password"></ion-input>
        <app-select [values]="[
    {value : 'MALE', display: 'Male'},
    {value : 'FEMALE', display: 'Female'},
    {value : 'OTHER', display: 'Other'}
    ]" class="genral_input" formControlName="gender" placeholder="Gender"></app-select>
    </form>

    <ion-button (click)="signUp()" [disabled]="signinForm.invalid" class="btn-login" mode="md">
        Sign up
    </ion-button>
    <p class="term_lbl">By continuing Sign up you agree to the following
        Terms & Conditions without reservation.</p>
    <p class="ion-text-center account-text">Already have an account?
        <ion-button class="transparent_btn"
                    (click)="login()">
            Sign in
        </ion-button>
    </p>
</ion-content>
