<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home">
                <ion-icon name="home-outline"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="call">
                <ion-icon name="call-outline"></ion-icon>
                <ion-label>Incoming calls</ion-label>
                <ion-badge>6</ion-badge>
            </ion-tab-button>

            <ion-tab-button tab="profile">
                <ion-icon name="person-circle-outline"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
