<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
  <div class="section_div">
    <h3 class="info_lbl">Settings</h3>

  </div>
  <div class="data_div">
    <h3 class="health_lbl">Health Tips for you
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </h3>
    <p class="tip_lbl">Get information & tips for healthy lifestyle</p>
    <h3 class="health_lbl">Notification
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </h3>
  </div>
  <div class="section_div">
    <h3 class="info_lbl">Reminder Setting</h3>

  </div>
  <div class="data_div">
    <h3 class="health_lbl">Vibrate
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </h3>
    <h3 class="health_lbl">Health Tips for you
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </h3>
    <p class="tip_lbl">5 Minutes</p>

  </div>
  <div class="section_div">
    <h3 class="info_lbl">General</h3>
  </div>
  <h3 class="health_lbl ion-padding-start">About Medicator

  </h3>
  <h3 class="health_lbl ion-padding-start">Privacy Policy
  </h3>
</ion-content>