.email-input {
  height: 42px;
  background: #F7F7F7;
  border-radius: 7px;
  color: #8C8C8C;
}

.footer-text-color {
  color: #636363
}

.signup-button {
  width: 353px;
  height: 48px;
  background-color: #483CDC !important;
  border-radius: 25px;
  color: white;
}

.delete-button {
  width: 353px;
  height: 48px;
  background-color: red !important;
  border-radius: 25px;
  color: white;
}
