<ion-content>
  <div class="">
    <div class="text-center">
<!--      <div>{{peerId}}</div>-->
      <div class="call-wrapper">
        <div class="video-wrapper">
          <video #remoteVideo id="remote-video"  autoplay playsinline></video>
          <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
        </div>
<!--        <div class="control">-->
<!--          <button [disabled]="isCallStarted$ | async" (click)="showModal(false)">start</button>-->
<!--          <button [disabled]="isCallStarted$ | async" (click)="showModal(true)">join</button>-->
<!--          <button [disabled]="!(isCallStarted$ | async)" (click)="endCall()">end</button>-->
<!--        </div>-->
          <div class="call-control-wrapper">
              <div class="call-control">
                  <div class="end-btn-wrapper">
                      <div class="left-rect"></div>
                      <button class="end-call" (click)="endCall()">
                          <img src="assets/image/end-call.svg">
                      </button>
                      <div class="rect">&nbsp;<span class="circle"></span></div>

                      <div class="right-rect"></div>
                  </div>
                  <div class="down-rec"></div>
                  <div class="call-control-content">
                      <button class="mute" (click)="onMute()">
                          <img [src]="isMuted ? 'assets/image/microphone-off.svg' : 'assets/image/microphone-on.svg'">
                      </button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</ion-content>
